@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('SourceSansPro-Light.eot'); /* IE9 Compat Modes */
  src: url('SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SourceSansPro-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('SourceSansPro-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('SourceSansPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SourceSansPro-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('SourceSansPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SourceSansPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('SourceSansPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('SourceSansPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SourceSansPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body {
  padding-top: 40%;
  line-height: 120px;
     }
#box {
  font-family: 'SourceSansPro-Bold', Fallback, sans-serif;
  font-size: 53px;
  border-radius: 75px 75px 0px 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-image: linear-gradient(20deg, #4CBFC7, #787DFF);
  color: white;
    }
#box2 {
  font-family: 'SourceSansPro-Light', Fallback, sans-serif;
  font-size: 42px;
  border-radius: 0px 0px 75px 75px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #FCFCFC;
  color: #575757;
      }
p {
  padding-left: 87px;
  padding-right: 87px;
  }
a:link, a:visited, a:active {
  color: LightCoral;
  }
}
